.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  width: 150px;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
}


.hamburger {
  position: left;
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Navbar Menu */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: gray;
  font-size: 18px;
  cursor: pointer;
}

.navbar-menu li:hover {
  color: #49557e;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
  color: #49557e;
}

/* Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon img {
  width: 24px;
  height: 24px;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #99557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f8;
}

/* Responsive Design */
@media (max-width: 1050px) {
  .hamburger {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-right {
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
  }

  .navbar {
    align-items: flex-start;
  }

  .navbar button {
    padding: 8px 20px;
  }
}


#search{
  background-color: #EDE3DB;
  padding: 8px 10px;
  border-radius: 10px;
  
}