version: "3.8"

services:
  frontend:
    build: ./fruntend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet
    restart: always

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      MONGO_URI: mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    networks:
      - appnet
    restart: always

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet
    restart: always

volumes:
  mongo_data:

networks:
  appnet:

