.app-footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 130px;
  margin-bottom: 10px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fca311;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fca311;
}

.social-icons a img {
  width: 28px;
  margin-right: 12px;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 20px;
}

@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}