.login-popup {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-popup-container {
  width: 90%;
  max-width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-popup-title h2 {
  font-size: 1.5rem;
}

.close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.login-popup-inputs input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 6px;
}

button {
  padding: 12px;
  background-color: #fc8019;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.login-popup-footer {
  text-align: center;
  font-size: 0.9rem;
}

.login-popup-footer span {
  color: #fc8019;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}
