.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3.4s;
}

.header-content h2{
    font-weight: 500;
    color: aliceblue;
    font-size: max(4.5vw,22px);
}
.header-content p{
    /* font-weight: 500; */
    color: aliceblue;
    size: 1vh;
    /* font-size: max(4.5vw,22px); */
}

.header-content button{
    border: nonw;
    color: gray;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: aliceblue;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}



@media (max-width:1050px) {
    /* .header{
        height: 38vw;
    } */
    .header-content{
        max-width:45vw;
    }
}

@media (max-width:750px) {

    .header-content{
        max-width:65vw;
    }
    .header-content p{
        display: none;

    }
    .header-content button{
        padding: 2vw 4vw;
    }
}